<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body data-bs-theme="dark" class="d-flex flex-column">
    <%= include_partial "header" %>
    <%= include_app %>
    <%= include_partial "footer" %>
  </body>
</html>