<!DOCTYPE html>
<html lang="en">
<head>
  <%= include_partial "head" %>
</head>
<body data-bs-theme="dark">

 <%= include_partial "header" %>

 <div class="article">

 <%= include_content_markdown %> 

 </div>

 <%= include_partial "footer" %>

</body>
</html>