@import "common.css";

/* Responsive video 
   Override the padding-bottom to set the aspect ratio.
*/
.youtube-video-frame {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1em
}

.youtube-video-frame iframe {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.footer {
    padding: 0.5rem;
    text-align: center;
    /*font-size: 120%;*/
}

.adaptations-container {
    display: flex;
    flex-direction: row;
}
.adaptations-letter {
    flex: 1 10;
    display: flex;
    flex-direction:row;
    justify-content:center;
    font-size: 2rem;
}

a.adaptations-letter {
    text-decoration: none;
}

.adaptations-letter:hover {
    background-color: rgba(200, 200,200,0.4);
}

.adaptations-letter.-selected {
    background-color: rgba(100, 100, 100, 0.6);
    color: white;
}

.article {
    width: 50rem;
    font-family: sans-serif;
    margin: 1rem;
}

.article p {
    width: 50rem;
}

.article p + p {
    margin-top: 1rem;
}