<div class="container-fluid footer bg-secondary">
  <div class="row">
    <!-- because, for some reason, bootstrap columns are not flexboxes -->
    <div class="col d-flex flex-column justify-content-center align-items-start">
      <div class="row">
        <small>Copyright © 2024 Web4Humans (Adaptations)</small>
      </div>
    </div>
    <div class="col">
      <div class="btn-toolbar justify-content-end">
        <a class="btn btn-text" href="/content/page/contact">
          contact
        </a>
        <a class="btn btn-text" href="/content/page/accessibility">
          accessibility          
        </a>
        <% if can_manage? %>
        <a class="btn btn-text" href="/manage">
            manage site
        </a>
        <% end %>
        <% if @context[:session].nil? %>
          <a class="btn btn-text" href="/signin?return-path=<%= @context[:path] %>">
            sign in
          </a>
        <% else %>
          <form action="/authenticate" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="return-path" value="<%= @context[:path] %>"> <button class="btn btn-text" type="submit">
              <input type="text" value="" name="dummy" style="display: none;">
              sign out <b><%= @context[:session]["user_id"] %></b>
            </button>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</div>