<div class="container-fluid">
  <div class="row" style="border-bottom: 1px solid silver;">
    <div class="col">
      <div class="row adaptations-container">
        <a href="/" class="adaptations-letter <% if @page[:id] == :home %>-selected<% end %>">A</a>
        <a href="/development" class="adaptations-letter <% if @page[:id] == :development %>-selected<% end %>">D</a>
        <a href="/adapt" class="adaptations-letter <% if @page[:id] == :adapt %>-selected<% end %>">A</a>
        <a href="/patterns" class="adaptations-letter <% if @page[:id] == :patterns %>-selected<% end %>">P</a>
        <a href="/temptations" class="adaptations-letter <% if @page[:id] == :templations %>-selected<% end %>">T</a>
        <a href="/attitude" class="adaptations-letter <% if @page[:id] == :attitude %>-selected<% end %>">A</a>
        <a href="/tatters" class="adaptations-letter <% if @page[:id] == :tatters %>-selected<% end %>">T</a>
        <a href="/intense" class="adaptations-letter <% if @page[:id] == :intense %>-selected<% end %>">I</a>
        <a href="/oblivious" class="adaptations-letter <% if @page[:id] == :oblivious %>-selected<% end %>">O</a>
        <a href="/name" class="adaptations-letter <% if @page[:id] == :name %>-selected<% end %>">N</a>
        <a href="/something" class="adaptations-letter <% if @page[:id] == :something %>-selected<% end %>">S</a>
      </div>
    </div>
  </div>
</div>