<div class="container-fluid">
  <div class="row" style="border-bottom: 1px solid silver;">
    <div class="col">
      <div class="row adaptations-container">
        <a href="/" class="adaptations-letter <% if @context[:content_id] == :home %>-selected<% end %>">A</a>
        <a href="/development" class="adaptations-letter <% if @context[:content_id] == :development %>-selected<% end %>">D</a>
        <a href="/articles" class="adaptations-letter <% if @context[:content_id] == :articles %>-selected<% end %>">A</a>
        <a href="/patterns" class="adaptations-letter <% if @context[:content_id] == :patterns %>-selected<% end %>">P</a>
        <a href="/tech" class="adaptations-letter <% if @context[:content_id] == :tech %>-selected<% end %>">T</a>
        <a href="/attitude" class="adaptations-letter <% if @context[:content_id] == :attitude %>-selected<% end %>">A</a>
        <a href="/tatters" class="adaptations-letter <% if @context[:content_id] == :tatters %>-selected<% end %>">T</a>
        <a href="/intentional" class="adaptations-letter <% if @context[:content_id] == :intentional %>-selected<% end %>">I</a>
        <a href="/obscure" class="adaptations-letter <% if @context[:content_id] == :obscure %>-selected<% end %>">O</a>
        <a href="/name" class="adaptations-letter <% if @context[:content_id] == :name %>-selected<% end %>">N</a>
        <a href="/something" class="adaptations-letter <% if @context[:content_id] == :something %>-selected<% end %>">S</a>
      </div>
    </div>
  </div>
</div>