<div class="page-header adapt-grid">
  <div class="adapt-grid-row align-items-center">
    <div class="adapt-flex-col -fill ms-2">
      <h1><%= @context[:content]["title"] %></h1>
    </div>
    <div class="adapt-grid-col -fill align-items-end me-2">
      <a href="/" class="btn btn-secondary"><span class="bi bi-house"></span> Home</a>
    </div>
  </div>
</div>