<% if current_sort_column == sort_column %>
  <% if current_sort_direction == 'descending' %>
    <span class="bi bi-caret-down-fill"></span>
  <% else %>
    <span class="bi bi-caret-up-fill"></span>
  <% end %>
<% else %>
  <span class="bi bi-caret-down"></span>
<% end %>