<div class="page-header adapt-grid">
  <div class="adapt-grid-row align-items-center">
    <div class="adapt-grid-col -auto me-2">

       <ul class="nav nav-pills justify-content-start fs-3" style="align-items: center;" role="tablist">
          <li class="nav-item" role="tab">
            <a class="nav-link" href="/">
                 Home
            </a>
          </li>

        </ul>
        
    </div>
    <div class="adapt-grid-col -auto me-4">
      |
    </div>
    <div class="adapt-grid-col -fill me-2">
      <H1>
        <%= @context[:content]["title"] %>
      </H1>
    </div>
  </div>
</div>